<div class="main-content">
   <div class="section-content section-content-p30">
       <div class="container-fluid">

            <div *ngIf="cartItems?.length > 0; else cart_empty">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">Product Image</th>
                            <th width="50%">Product Detail</th>
                            <th width="30%"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let tempCartItem of cartItems">
                            <td>
                                <img class="img-responsive" width="150px" src="{{ tempCartItem.imageUrl }}"/>
                            </td>

                            <td>
                                <p>{{ tempCartItem.name }}</p>
                                <p>{{ tempCartItem.unitPrice | currency:'USD' }}</p>
                            </td>

                            <td>
                                <div class="items">

                                    <label>Quantity:</label>
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>

                                        <div class="col ml-4 mr-2">
                                            {{ tempCartItem.quantity }}
                                        </div>

                                        <div class="col">
                                            <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>

                                        <div class="col-8"></div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="col">
                                            <button (click)="removeCartItem(tempCartItem)" class="btn btn-danger btn-sm mt-2">
                                                Remove
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency:'USD' }}</p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td class="font-weight-bold">
                                <p>Total Quantity: {{ totalQuantity }}</p>
                                <p>Shipping: FREE</p>
                                <p>Total Price: {{ totalPrice | currency:'USD' }}</p>
                                <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #cart_empty>
                <div class="alert alert-warning">
                    Your cart is empty!
                </div>
            </ng-template>
       </div>
   </div>
</div>